*{
    margin:0;
    padding:0;
    position:relative;
    
}

.resumeCard{
    height:20vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.imageCol{
    width:30%;
    height:100%;
    border:1px solid black;
}

.profileImg{
    height:85px;
    width:85px;
    position:absolute;
    left:15%;
    top:15%;
}

.resumeCol{
    width:70%;
    height:100%;
    border:1px solid black;
}

.card{
    text-align:center;
    height:100%;
    font-family: 'Montserrat', sans-serif;
    
}

.cardHeader{
    height:20%;
    top:10%;
}

.cardBody{
    height:80%;
}

.cardBody > p{
    font-size:12px;
    top:30%;
}

.cardHeaderh3{
    text-decoration:underline;
    text-transform:uppercase;
}



.techChartContainer{
    height:20vh;
}

.frontEnd, .backEnd, .db{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    border:1px solid black;
    background:lightgray;
    z-index:1;
    
}

.listh3{
    font-family: 'Montserrat', sans-serif;
    height:0px;
    transition:1s;
    overflow:hidden;
    animation:grow 2s forwards;
}

@keyframes grow{
    0%{height:0px}
    100%{height:20px}
}

.frontEnd{
    top:20px;
    width:25%;
    height:120px;
    left:10px;
}

.backEnd{
    left:40%;
    height:50px;
    width:25%;
    top:20px;
    
}

.db{
    left:70%;
    top:25px;
    width:25%;
}

.line{
    position:absolute;
    top:0;
    left:0;
}

.lineone{
    width:25%;
    height:3px;
    background:green;
    top:30%;
    left:25%;
    animation:request forwards 2s;
}


.linetwo{
    width:10%;
    height:3px;
    background:red;
    left:65%;
    top:40%;
    animation:request  forwards 2s;

}

.linethree{
    width:65%;
    height:3px;
    background:blue;
    left:25%;
    top:50%;
    animation:request  forwards 2s;

}


@keyframes request {
    0%{
        width:0%;
        opacity:1;
    };
    100%{
        height:3px;
        width:100%;
        opacity:1;
    }
}


.requestDiv{
    height:10px;
    width:10px;
    background:black;
    transition:1s ease;
    left:25%;
    top:30%;
}

.requestBtn{
    top:100px;
    left:40%;
}


