*{
    font-family: 'Open Sans Condensed', sans-serif;
}

.groceryWallPaper{
    height:100%;
    width:100%;
}

.coverheadertext{
    width:75%;
    height:100px;
    border-radius:25%;
    opacity:.8;
    background:rgb(0,0,255,.8);
    color:white;
    text-shadow:1px 1px black;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    left:12%;
    top:15%;

}

.coverContainer{
    height:100vh;
    width:100vw;
}

.infoRow{
  width:100%;
  height:10%;
  border:2px dotted orange;
}

.dateFlex, .infoFlex{
    top:10px;
}

.h5One, .h5Two, .h5Three{
    position:absolute;
    top:0;
    left:0;
}

.h5One{
    left:5%;
    top:5%;
}

.h5Two{
    left:20%;
    top:5%;
}

.h5Three{
    left:70%;
    top:5%;
}

.checkOutParent{
    height:80vh;
    width:100%;
    border:2px solid purple;
}

/* .groceryContainer{
    height:60%;
    width:100%;
    border:1px solid green;
} */

.foodItemContainer{
    height:65%;
    width:30%;
    border:1px solid yellow;
}

.foodListHeaderh4{
    text-align:center;
    background:linear-gradient(to right,lightgray,gray)
}
.foodGrid{
    height:95%;
    width:100%;
    border:1px solid black;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    overflow:auto;
}

.foodItem{
    height:100%;
    width:100%;
    border:1px solid black;
    border-radius:5%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.blue{
    background:blue;
}


.buyBtnDiv{
    width:100%;
}

.buyBtn{
    background:green;
    width:65%;
    left:18%;
}


.noPointerEvent{
    pointer-events:none;
}

.priceQuantityFlex{
    display:flex;
}


/* Panel CSS */


.panelWrapper{
    width:100%;
    height:25%;
    position:absolute;
    top:0;
    top:75%;
    border:2px solid blue;
    /* top:80%; */
    left:0%;
}

.payOptionGrid, .shopperIdDiv{
    position:absolute;
    top:0;
    left:0;
}

.payOptionGrid{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    height:100%;
    background:white;
}

.payoptiondiv{
    width:75px;
    height:50px;
    /* border:1px solid red; */
    display:flex;
    align-items:center;
    justify-content: center;
    background:linear-gradient(to right,lightgray, gray);
    box-shadow:0px 0px 3px 2px rgb(0,0,0,0.8);
    cursor:pointer;
}

.shopperIdDiv{
    width:100%;
    height:100%;
    background:linear-gradient(to right,lightgray,gray)
}

.displayGrid, .numberGrid{
    position:absolute;
    top:0;
    left:0;
}

.displayDiv{
    width:40%;
    height:100%;
}

.display{
    height:70%;
    width:70%;
    left:15%;
    top:15%;
    border:2px solid black;
    border-radius:15%;
    display:flex;
    align-items:center;
    justify-content: center;
}

 .numberGrid{
    left:40%;
    width:60%;
    height:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
}

.numBtn{
    border:1px solid black;
    text-align:center;
}

.numBtn:hover{
    box-shadow:0px 0px 2px 2px rgb(0,0,0,0.8)
}



.shoppingCartContainer{
    width:25%;
    height:75%;
    border:2px solid green;
    position:absolute;
    left:75%;
    top:10%;
}

.shoppingCartList{
    height:60%;
    width:100%;
    border:2px solid orange;
}


.itemDiv{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    border-bottom:1px solid black;
    border-right:1px solid black;
    margin-top:5px;
    background:linear-gradient(to right,lightgray,gray)
}

.removeItemSpan{
    background:red;
    border-radius:5%;
}


.totalsDiv{
    width:100%;
    height:25%;
    top:0%;
    border:1px solid green;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.canvasDiv{
    height:65%;
    width:45%;
    top:10%;
    border:2px solid orange;
    left:300px;
    position:absolute;
    left:30%;
}

.canvasTextOne, .canvasTextTwo{
    font-family: 'Ranchers', cursive;

}

.canvasTextOne{
    left:15%;
    top:15%;
    font-size:65px;
    z-index:1;
    position:absolute;
}

.canvasTextTwo{
    left:35%;
    top:40%;
    font-size:35px;
    z-index:1;
    position:absolute;
}

.canvasimg{
    height:100%;
    width:100%;
    z-index:-1;
}


@media screen and (min-width:550px){
    .payoptiondiv{
        width:100px;
    }

   
}




@media screen and (max-width:650px){
    .foodGrid{
        width:100%;
        /* background:orange; */
        grid-template-columns:repeat(2,1fr)
    }
}

@media screen and (max-width:500px){
    .foodGrid{
        width:100%;
        grid-template-columns:repeat(1,1fr)
    }

    .canvasTextOne{
        font-size:35px;
    }

    .canvasTextTwo{
        font-size:25px;
    }

    .h5Two{
        left:30%;
    }
}





